<div id="cal_container" style="border: 1px solid black; margin-bottom: 10px; padding: 5px;">
    <h2 class="cal_el">Рассчет количеств</h2>
    <div id="cal_el" class="con">
        <div class="i_container">
            <input style="margin-bottom: 10px;" id="tm" type="text" placeholder="t, молока">
            <button style="margin-bottom: 20px; width: 100px;" id="calculation">Рассчитать</button>
        </div>
        <div class="i_container">
            <input style="margin-bottom: 10px;" id="tw" type="text" placeholder="t, воды">
            <input id="cm" type="text" placeholder="C, молока">

        </div>
        <div class="i_container">
            <input id="mm" type="text" placeholder="m, молока">
        </div>
        <div class="i_container">
            <input id="mw" type="text" placeholder="m, воды">
        </div>
        <div class="i_container">
            <input id="tn" type="text" placeholder="t, нужная">
        </div>
    </div>
</div>